.container {
  background: $bg-body;
  margin: -$bd-radius auto 0;
  max-width: $layout-container;
  padding-bottom: $space-lg - $type-base;
  padding-top: $space-lg;

  @media (max-width: $breakpoint-med) {
    max-width: $layout-container * $breakpoint-med-scale;
    padding-bottom: ($space-lg - $type-base) * $breakpoint-med-scale;
    padding-top: $space-lg * $breakpoint-med-scale;
  }

  @media (max-width: $breakpoint-sm) {
    border-radius: 0;
    margin-top: 0;
  }

  @media (max-width: $breakpoint-xs) {
    padding-bottom: ($space-lg - $type-base) * $breakpoint-xs-scale;
    padding-top: $space-lg * $breakpoint-xs-scale;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 $type-base;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}
