<footer class="site-footer">
  <div class="site-footer__column">
    <%= blog_settings.footer_text %>
  </div>

  <div class="site-footer__column">
    Powered by Middleman and the <%= link_to 'Silverback', 'https://github.com/elliotekj/middleman-silverback' %> theme.
  </div>
</footer>
