---
layout: default
---
<section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
    <div>
      <h2 class="text-pink-500 font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug md:leading-tight">
          the nilenso blog.
          <span class ="text-white font-light text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug md:leading-tight">
              ensonians write about work and life 
          </span>
      </h2>
    </div>
</section>
<section id="index-page-grid" class="px-4 md:px-0">
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% assign metadata = site.data.post_metadata | find: "title", post.title %}
    {% if metadata.description and metadata.image %}
      {% assign tile_type = "post-tile-large" %}
    {% else %}
      {% assign tile_type = "post-tile-normal" %}
    {% endif %}
      <div class="{{ tile_type }} post-tile border-2 font-medium flex flex-col">
        <a class="post-anchor" href="{{ post.url }}">
          <img class="post-img" src={{ metadata.image }}></img>
          <div class="post-title p-2">{{ post.title }}</div>
          {% if metadata.description %}
            <div class="post-description p-2 leading-snug">
              {{ metadata.description }}
            </div>
          {% endif %}
          </a>
          <div class="post-author border-t-2">
            <div class="flex flex-row">
                {% assign blog_author = site.data.members | find: "name", post.author %}
                {% if blog_author %}
                  <div class="p-2 flex flex-row items-center">
                    <img src="{{ blog_author.image_url }}" class="w-12 h-12 rounded-full object-cover">
                    {% if post.co_author_image %}
                      <img src="{{ post.co_author_image }}" class="w-12 h-12 rounded-full object-cover -ml-3">
                    {% endif %}
                  </div>
                  <div class="p-2 flex flex-col place-content-evenly">
                    {% if post.co_author_name %}
                      <span class="text-sm">
                        <a href="{{ blog_author.twitter }}">{{ blog_author.name }}</a> and <a href="{{ post.co_author_link }}">{{ post.co_author_name }}</a>
                      </span>
                    {% else %}
                      <a class="text-sm" href="{{ blog_author.twitter }}">{{ blog_author.name }}</a>
                    {% endif %}
                    {% if blog_author.medium %}
                      <p class="text-xs text-black font-light" style="font-family: Poppins">Read more by {{ blog_author.short_name }} on <a class="text-pink-500" href="{{ blog_author.medium }}">Medium</a></p>
                    {% elsif blog_author.website %}
                      <p class="text-xs text-black font-light" style="font-family: Poppins">Read more by {{ blog_author.short_name }} <a class="text-pink-500" href="{{ blog_author.website }}">here</a></p>
                    {% endif %}
                  </div>
                {% else %}
                  <div class="p-2 flex flex-col place-content-evenly">
                    <a class="text-sm" href="{{ post.url }}">{{ post.author }}</a>
                  </div>
                {% endif %}
            </div>
          </div>
      </div>
  

  {% endfor %}
  <div class="bg-black text-white font-medium flex flex-col">
    <a class="archives-anchor" href="/blog/archives">
      <h2 class="text-3xl">Browse the<br>archives →</h2>
    </a>

    <a class="archives-anchor" href="{{ site.subscribe_rss }}" title="subscribe via RSS">
      <img class="archives-anchor-rss" src="/images/rss.svg"></img>
      Follow us on RSS
    </a>
  </div>
</section>

<!-- <aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside> -->
